@model IEnumerable<CardGridItemVM>

<partial name="/Views/Partials/_Header.cshtml" />
<section class="best-collection">
	<div class="container">
		<h1>All Products</h1>
		<div class="_card-grid">
			@foreach (var product in Model)
			{
				<partial name="/Views/Partials/_CardGridItem.cshtml" model="product" />
			}
		</div>
	</div>
</section>
<partial name="/Views/Partials/_Footer.cshtml" />
