.login-form {
    padding: 20px 0 60px 0;

    @include lg {
        padding: 60px 0;
    }

    .container {
        border: 1px solid rgba(174, 174, 174, .15);
        padding: 30px;

        @include md {
            border: 1px solid rgba(174, 174, 174, .15);
        }
    }

    .title {
        margin-bottom: 40px;
    }

    form {
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-areas: "message" "email" "password" "rememberme" "button";

        @include lg {
            grid-template-columns: 1fr;
            grid-template-areas: "email" "password" "terms" "button";
        }

        .name {
            grid-area: name;
        }

        .email {
            grid-area: email;
        }

        .phoneNumber {
            grid-area: phoneNumber;
        }

        .companyName {
            grid-area: companyName;
        }

        .terms {
            grid-area: terms;
            margin: 10px 0;
        }

        .message {
            grid-area: message;
        }

        textarea {
            height: 100px;
            resize: none;
        }

        button {
            grid-area: button;

            @include lg {
                /*display: flex;*/
                justify-self: flex-start;
            }
        }

        .register-link {
            color: $color-theme;
        }
    }

    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    
}
