.register-form {
    padding: 20px 0 60px 0;

    @include lg {
        padding: 60px 0;
    }

    .container {
        border: 1px solid rgba(174, 174, 174, .15);
        padding: 30px;

        @include md {
            border: 1px solid rgba(174, 174, 174, .05);
        }
    }

    .title {
        margin-bottom: 40px;
    }

    form {
        display: grid;
        column-gap: 30px;
        row-gap: 15px;
        grid-template-columns: 1fr;
        grid-template-areas: "message" "email" "password" "rememberme" "button";

        @include lg {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "firstname lastname" "street street" "postal city" "phone company" "email email" "password password" "conf-password conf-password" "image image" "terms terms" "button button";
        }

        .firstname {
            grid-area: firstname;
        }

        .lastname {
            grid-area: lastname;
        }

        .streetname {
            grid-area: street;
        }

        .postalcode {
            grid-area: postal;
        }

        .city {
            grid-area: city;
        }

        .phone {
            grid-area: phone;
        }

        .company {
            grid-area: company;
        }

        .email {
            grid-area: email;
        }

        .password {
            grid-area: password;
        }

        .conf-password {
            grid-area: conf-password;
        }

        .image {
            grid-area: image;
        }



        .terms {
            grid-area: terms;
            margin: 10px 0;
        }

        .message {
            grid-area: message;
        }

        textarea {
            height: 100px;
            resize: none;
        }

        button {
            grid-area: button;

            @include lg {
                /*display: flex;*/
                justify-self: flex-start;
            }
        }
    }
}
