@{
	ViewBag.RegisterTitle = "Add user";
}

<partial name="/Views/Partials/_Header.cshtml" />
<section class="backoffice">
	<div class="banner">
		<div class="container">
			<h2>Backoffice - Add User</h2>
		</div>
	</div>
	<div class=container>


		<h1>Add User ADMIN</h1>
		<partial name="/Views/Partials/_RegisterForm.cshtml" />
	</div>
</section>

