@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add User ADMIN</h1>
<partial name="/Views/Partials/_RegisterForm.cshtml" />