@{
	ViewBag.RegisterTitle = "Add New User";
}

<partial name="/Views/Partials/_Header.cshtml" />
<section class="backoffice">
	<div class="banner">
		<div class="container">
			<a class="link" asp-controller="Admin" asp-action="Index"><i class="fa-solid fa-arrow-left"></i></a>
			<h2>Backoffice - Add User</h2>
		</div>
	</div>
	<div class=container>
		<partial name="/Views/Partials/_RegisterForm.cshtml" />
	</div>
</section>

