<partial name="/Views/Partials/_Header.cshtml" />

<section class="showcase">
    <div class="container">
        <div class="content">
            <p>WELCOME TO BMARKETO SHOP</p>
            <h3>Exclusive Chair<br /> gold Collection.</h3>
            <button class="button-theme">SHOP NOW</button>
        </div>
        <img src="~/images/placeholders/625x647.svg">
    </div>
</section>


<section class="best-collection">
    <div class="container">
        <h3>Best Collection</h3>
        <div class="category-choices">
            <a href="">All</a>
            <a href="">Bags</a>
            <a href="">Dress</a>
            <a href="">Decoration</a>
            <a href="">Essentials</a>
            <a href="">Interior</a>
            <a href="">Laptop</a>
            <a href="">Mobile</a>
            <a href="">Beauty</a>
        </div>

        <partial name="/Views/Partials/_CardGrid.cshtml" />

        <button class="btn-load">LOAD MORE <i class="fa-solid fa-rotate-right"></i></button>
    </div>
</section>

 
<partial name="/Views/Partials/_Footer.cshtml" />
