.backoffice {
    .banner {
        background-color: $color-dark;
        color: white;
        padding: 1rem 0;
    }

    table {
        border-collapse: collapse;
        width: 101%;

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr {
            &:nth-child(even) {
                background-color: #f2f2f2;
            }

            &:hover {
                background-color: #ddd;
            }
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: $color-dark;
            color: white;
        }

        button {
            background-color: transparent;
            border: none;
            color: $color-dark;
        }
    }


    button {
        font-weight: bold;
    }

    .choices {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;
    }
}
