.backoffice {
    .banner {
        background-color: $color-dark;
        color: white;
        padding: 1rem 0;

        .container {
            display: flex;
            gap: 1rem;
        }

        a {
            color: white;
            font-size: 2rem;
        }
    }



    table {
        border-collapse: collapse;
        width: 101%;

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr {
            &:nth-child(even) {
                background-color: #f2f2f2;
            }

            &:hover {
                background-color: #ddd;
            }
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: $color-dark;
            color: white;
        }

        button {
            background-color: transparent;
            border: none;
            color: $color-dark;
        }
    }


    button {
        font-weight: bold;
    }

    .choices {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;
    }

    ._modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);

        ._modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
        }

        ._button-wrapper {
            text-align: right;
            display: flex;
            gap: 1rem;
        }

        ._modal-button {
            margin-top: 10px;
        }
    }
}
