@model ContactFormViewModel

<partial name="/Views/Partials/_Header.cshtml" />

<section class="breadcrumb">
    <div class="container">
        <div class="content">
            <h1>CONTACT</h1>
            <ul>
                <li>HOME</li>
                <li>CONTACT</li>
            </ul>
        </div>
    </div>
</section>

@if (ViewBag.Success == true)
{
    <div class="mt-5">Success message here</div>
}

<section class="contact-form">
    <div class="container">
        <div class="title">Write something</div>
       

        <form method="post" novalidate id="myForm">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="name form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <small><span asp-validation-for="Name"></span></small>
            </div>
            <div class="email form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <small><span asp-validation-for="Email"></span></small>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" />
                <small><span asp-validation-for="PhoneNumber"></span></small>
            </div>
            <div class="companyName form-group">
                <label asp-for="CompanyName"></label>
                <input asp-for="CompanyName" />
                <small><span asp-validation-for="CompanyName"></span></small>
            </div>
            <div class="message form-group">
                <label asp-for="Message"></label>
                <input asp-for="Message" />
                <small><span asp-validation-for="Message"></span></small>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    Save my name, email in the this browser for the next time I comment.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>

            <button class="button-theme">Submit</button>
        </form>
    </div>
</section>