<section class="_breadcrumb">
    <div class="container">
        <h3>SHOP</h3>
        <div class="links">
            <a href="">HOME</a>
            <p>@ViewBag.Page</p>
        </div>
    </div>
</section>