<section class="subscribe">
    <div class="container">
        <div class="parent">
            <input type="text" placeholder="Enter your mail here">
            <button class="input-btn">SUBSCRIBE FOR NEWSLETTER</button>
        </div>
    </div>
</section>