header {
    .container {
        @include md {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
        }
    }

    .logo-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem;
        font-size: 27px;
        font-weight: bold;

        button {
            border: none;
            background-color: transparent;
            font-size: 22px;

            @include md {
                display: none;
            }
        }
    }

    #menu {
        @include md {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu-links {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;

            @include md {
                flex-direction: row;

                a {
                    margin-right: 2.5rem;
                }
            }
        }

        .menu-icons {
            display: none;

            @include md {
                display: flex;

                a {
                    margin-right: 1rem;
                    color: $color-gray;
                }
            }
        }

        a {
            text-decoration: none;
            color: $color-dark;
            transition: 0.3s ease-in-out;

            &:hover {
                color: $color-theme;
            }
        }
    }
}
